body{
    font-size: larger;
}
h1{
   width: 100%;
   text-align: center;
   color: #0b5f97;
}
.card{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25vw;
    height: 64vh;
    border-radius: 10px;
    border: solid;
    box-shadow: 2px;
    border-color: antiquewhite;
    padding-right: 20vw;
    position: relative;
    overflow: hidden;
}
.post{
    width: 60%;
}
.comments{
    border: solid;
    border-color: black;
    width: 40%;
    height: 60vh;
    position: absolute;
    right: -4px;
    top: -4px;
    padding: 20px;
}
.comment{
    width: 100%;
    height: 35vh;
    background-color: grey;
}
.writeComment{
    border-radius: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 2vw;
}
.image{
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
}
.title{
    display: flex;
    height: fit-content;
    width: fit-content;
}
.title:hover{
    cursor: pointer;
}
.profile-icon {
    margin-top: 5px;
    width: 5vh;                 
    height: 5vh;                
    background-color: #3498db;    
    color: white;                 
    font-size: 25px;              
    display: flex;                
    justify-content: center;      
    align-items: center;          
    border-radius: 50%;           
    font-family: Arial, sans-serif;
}
h3{
    width: fit-content;
    margin-left: 1.5vw;
    margin-top: 14px;
}
.meta{
    background-color: #3498db;
    color: white;
    padding: 10px; 
}
.icon-container {
    display: none;
    flex-direction: row;
    gap: 20px; 
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20px;
    bottom: -30px;
    font-size: 22px;
    background-color: black;
    color: white;
    padding: 10px 20px ;
    border-radius: 20px;
}
.card:hover{
    .icon-container{   display: flex; 
        animation: move 0.2s ease;  
        animation-fill-mode: forwards;
    }
    /* .icon-wrapper1{
        animation: move 0.2s ease-in;
        animation-fill-mode: forwards;
        animation-delay: 0.1s;
    }
        .icon-wrapper2{
            animation: move 0.2s ease;
            animation-fill-mode: forwards;
            animation-delay: 0.2s;}
            .icon-wrapper3{
                animation: move 0.2s ease;
                animation-fill-mode: forwards;
                animation-delay: 0.3s;
            } */
}

.like-icon {
    color: #3498db; 
    font-size: 48px; 
    cursor: pointer; 
    transition: transform 0.3s ease;
}

.like-icon:hover {
    transform: scale(1.4); 
}


.heart-icon {
    color: red; 
    font-size: 48px;
    cursor: pointer;
    transition: transform 0.3s ease forwards;
}

.heart-icon:hover {
    transform: scale(1.4);
}


.share-icon {
    color: #2ecc71; 
    font-size: 48px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.share-icon:hover {
    transform: scale(1.4);
}
.like-icon.active,.heart-icon.active,.share-icon.active{
    transform: scale(2.0);
}
.icon-wrapper{
    background-color: grey;
}
@keyframes move {
    0%{
        transform: translateX(0) translateY(0px);
    }
    100% {
        transform: translateX(0) translateY(-40px);
    }
    }
#popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
#popup-box{
    width: 800px;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #63696d;
    padding: 30px;
    padding-left: 50px;
    border-radius: 10px;
}
#copy{
    width: 150px;
    height: 40px;
    background-color: #0c8ce1;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 10px;
}
input{
    width:70%;
    height: 50px;
    font-size: large;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding-left: 80px;
}
#close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
}
#close:hover{
    border-color: white;
}
button:hover{
    cursor: pointer;
}
#share{
    position: absolute;
    top: 20px;
    right: 50%;
    font-size: 40px;
    font-weight: bolder;
}